@media only screen and (max-width: 767px) and (orientation: portrait) {
    section {
        padding-top: 0px !important;
    }

    .col-xs-0 {
        display: none;
    }

    .loader {
        margin-top: 35vh;
    }

    .header {
        font-size: 2.2em;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #hero .container {
        padding: 0px;
    }

    #hero .sky {
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom;
        position: relative;
        background-image: none;
    }

    #hero .sky .rocket img {
        width: 200px;
        margin-top: 40px;
    }

    .timeline .timeline_container .separator {
        width: 40px;
    }

    #projects .inner-project-container {
        margin: 0px 15px;
        width: calc(100% - 30px);
    }

    #projects .project-card {
        box-shadow: none;
        border: 1px solid var(--theme1);
    }

    .project-card:hover {
        box-shadow: none;
        border: 1px solid var(--theme2);
    }

    .splide,
    .splide__slide {
        padding: 0px 0px !important;
    }

    #about {
        padding-top: 20px !important;
    }

    #about-contact-btn button {
        margin: 15px auto 0px;
        display: block;
    }

    #contact {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .contact h4 {
        margin: 0 0 0 0;
    }

    .modal .wrapper {
        width: 100%;
    }

    .modal .ModalCloseBtn i {
        font-size: 24px;
    }

    #map {
        display: none;
    }

    footer {
        padding-top: 0px;
    }

    footer .inner-footer {
        -webkit-clip-path: polygon(0 0, 100% 22%, 100% 93%, 0% 100%) !important;
        clip-path: polygon(0 0, 100% 22%, 100% 93%, 0% 100%) !important;
    }
}

/* For phones having less heights than 700*/
@media only screen and (max-height: 700px) and (orientation: portrait) {
    .hero-container {
        letter-spacing: 5px;
        word-spacing: 10px;
        width: 100%;
        height: 100%;
    }

    .hero-container .typo {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hero-container .typo .only-phone-image {
        display: block;
        margin-bottom: 60px;
    }

    .hero-container .typo .only-phone-image img {
        width: 75%;
        margin: auto;
        display: block;
    }

    .hero-container .typo h1 {
        font-size: 6em;
    }

    .hero-container .typo h2 {
        font-size: 3em;
    }

    .hero-container .typo h4 {
        font-size: 1.2em;
        letter-spacing: 2px;
        word-spacing: 5px;
    }
}

/* Iphone 5/5s */
@media only screen and (max-width: 320px) and (orientation: portrait) {
    .hero-container .typo {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hero-container .typo .only-phone-image {
        display: block;
        margin-bottom: 60px;
    }

    .hero-container .typo .only-phone-image img {
        width: 75%;
        margin: auto;
        display: block;
    }

    .hero-container .typo h1 {
        font-size: 6em;
    }

    .hero-container .typo h2 {
        font-size: 3em;
    }

    .hero-container .typo h4 {
        font-size: 1.2em;
        letter-spacing: 2px;
        word-spacing: 5px;
    }
}

/* for rotate phones */
/* @media only screen and (max-height: 767px) and (orientation: landscape) {
    .hero-container {
        letter-spacing: 5px;
        word-spacing: 10px;
        width: 100%;
        height: 100%;
    }

    .hero-container .typo {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hero-container .typo .only-phone-image {
        display: block;
        margin-bottom: 20px;
    }

    .hero-container .typo .only-phone-image img {
        width: 20%;
        margin: auto;
        display: block;
    }

    .hero-container .typo h1 {
        font-size: 5em;
    }

    .hero-container .typo h2 {
        font-size: 3em;
        margin: 0px;
    }

    .hero-container .typo h4 {
        font-size: 1.2em;
        letter-spacing: 2px;
        word-spacing: 5px;
    }
} */